body {
    background-size: cover;
}

h1 {
    font-size: 36px;
    padding: 20px;
}

label {
    padding: 15px;
}

.guess {
    font-size: 23px;
    text-align: center; 
    padding: 20px;
}

.hot-cold {
    text-align: center; 
    padding: 60px;
    position: fixed;
    bottom: 0px;
    display: none;
}

/*.cold {*/
/*    text-align: center;*/
/*    padding: 60px;*/
/*    position: fixed;*/
/*    bottom: 0px;*/
/*    display: none;*/
/*}*/


.buttons {
    padding-top: 60px;
}

#high-msg {
    display: none;
}

#low-msg {
    display: none;
}

#duplicate-msg {
    display: none;
}

#win-msg {
    display: none;
    color: white;
    font-size: 300%;
}

#lose-msg {
    display: none;
    color: black;
    font-size: 300%;
}